<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head lang="{{ app.request.locale }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ "blog.title"|trans }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

    {% stylesheets  'bundles/keltanaspage/less/style.less'
                    filter='cssrewrite' filter="less" filter='?yui_css' output="css/style.css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    <link rel="stylesheet" href="https://yandex.st/highlightjs/7.3/styles/default.min.css">
    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    {# highlighter link http://softwaremaniacs.org/soft/highlight/download/#}
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    {# HEADER #}

    <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <img class="brand" width="20" height="20" src="https://www.gravatar.com/avatar/{{ gravatar_hash }}.png">
                {{ knp_menu_render('KeltanasPageBundle:Builder:mainMenu', {'nav_type': 'navbar'}) }}
                {% if is_granted('ROLE_USER') %}
                <ul class="nav pull-right">
                    <li>
                        <a href="{{ path('post_new') }}">
                            <span class="icon icon-white icon-plus-sign"></span> {{ "New post"|trans }}</a>
                    </li>
                    <li><a href="{{ path('post') }}">{{ "All posts"|trans }}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path("fos_user_profile_show") }}">
                            <i class="icon icon-white icon-user"></i> {{ app.user.username }}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ "Logout"|trans }}</a></li>
                </ul>
                {% else %}
                <ul class="nav pull-right">
                    <li><a href="{{ path('fos_user_security_login') }}">{{ "Login"|trans }}</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {# BODY #}

    <div class="container">
        <div id="content">
            <div class="row-fluid">
                <div class="span9">
                    <h1>{{ block('title') }}</h1>

                    {% for type, messages in app.session.flashbag.all() %}
                    <ul class="alert alert-{{ type }}">
                        {% for key, message in messages %}
                        <li>{{ message|trans({}, 'FOSUserBundle') }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
                <div class="span3">

                    {{ render(controller('KeltanasPageBundle:Tag:tagsCloud')) }}

                </div>
            </div>
        </div>
    </div>

    {# FOOTER #}

    <div class="navbar navbar-fixed-bottom navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>
                        <span class="brand"><small>&copy; Nikolay Ermin aka KelTanas {{ "now"|date('Y') }}</small></span>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="https://github.com/keltanas/symf-blog" target="_blank">
                            <i class="github-icon"></i>On Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block javascripts %}{% endblock %}

    {% if google_analytics %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', {{ google_analytics }}]);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</body>
</html>
