<!DOCTYPE html>
<html>
<head lang="{{ app.request.locale }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ "blog.title"|trans }}{% endblock %}</title>
    <meta name="description" content="{% block description %}Блог web-программиста{% endblock %}">
    <meta name="keywords" content="{% block keywords %}Создание сайтов, разработка веб приложений, настройка серверов{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}{% endblock %}

    {% if app.debug %}
    <link rel="stylesheet" href="{{ asset('css/style.src.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/keltanaspage/css/highlightjs/ir_black.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endif %}

    {#MICROFORMATS FOR GPLUS#}
    <link href="https://plus.google.com/{{ google_plus_id }}" rel="publisher" />

    <meta property="og:type" content="blog" />
    <meta property="og:title" content="{{ block('title')|striptags }}" />
    <meta property="og:url" content="{{ app.request.schemeAndHttpHost }}{{ app.request.requestUri }}" />
    <meta property="og:description" content="{{ block('description') }}" />
    <meta property="og:image" content="{{ asset('apple-touch-icon-152x152.png') }}" />

    <!-- Google+ Metadata /-->
    <meta itemprop="name" content="{{ block('title')|striptags }}">
    <meta itemprop="description" content="{{ block('description') }}">
    <meta itemprop="image" content="{{ asset('apple-touch-icon-152x152.png') }}">

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />

    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-152x152.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ asset('smalltile.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ asset('mediumtile.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ asset('widetile.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ asset('largetile.png') }}" />
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {# HEADER #}

    <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-blog-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img class="brand" width="20" height="20" src="{{ asset('apple-touch-icon.png') }}">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-blog-navbar-collapse-1">
                    {#{{ knp_menu_render('KeltanasPageBundle:Builder:mainMenu', {'style': 'navbar'}) }}#}
                    {# @link https://github.com/symfony/symfony-docs/issues/2078 #}
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{{ path('keltanas_page_homepage') }}">{{ 'Blog'|trans }}</a>
                        </li>
                        <li>
                            <a href="{{ path('keltanas_page_about') }}">{{ 'About Me'|trans }}</a>
                        </li>
                    </ul>
                    {% if app.user is not null and is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{{ path('post_new') }}">
                                    <span class="icon icon-white icon-plus-sign"></span> {{ "New post"|trans }}</a>
                            </li>
                            <li><a href="{{ path('post') }}">{{ "All posts"|trans }}</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path("fos_user_profile_show") }}">
                                    <i class="icon icon-white icon-user"></i> {{ app.user.username }}</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">{{ "Logout"|trans }}</a></li>
                        </ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('fos_user_security_login') }}">{{ "Login"|trans }}</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {# BODY #}
    <div class="container">
        <div id="content">
            <div class="pluso" data-background="transparent" data-options="medium,round,line,vertical,counter,theme=04" data-services="vkontakte,facebook,twitter,google,linkedin,email,print"></div>
            <div class="row">
                <div class="col-md-9">
                    {% for type, messages in app.session.flashbag.all() %}
                    <ul class="alert alert-{{ type }}">
                        {% for key, message in messages %}
                        <li>{{ message|trans({}, 'FOSUserBundle') }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}

                    {% block body %}{% endblock %}
                </div>
                <div class="col-md-3">

{#
                    <p>
                        {% image '@KeltanasPageBundle/Resources/public/img/firetroop.png' output='img/firetroop.png' %}
                        <a href="http://firetroop.ru">
                            <img src="{{ asset_url }}" alt="Создание сайтов и веб-приложений для малого бизнеса"/></a>
                        {% endimage %}
                        <p>Создание сайтов и веб-приложений для малого бизнеса</p>
#}

                    <noindex>
                        {{ render(controller('KeltanasPageBundle:Tag:tagsCloud')) }}
                        <hr>
                        <h3>Полезные ссылки</h3>
                        <ul class="useful-links">
                            <li><a href="http://php.net" target="_blank">Официальный сайт PHP</a></li>
                            <li><a href="http://semver.org/lang/ru/" target="_blank">Семантическое Версионирование</a></li>
                            <li><a href="http://getjump.github.io/ru-php-the-right-way/" target="_blank">PHP - Правильный путь</a></li>
                            <li><a href="http://symfony.com" target="_blank">Фреймворк Symfony2</a></li>
                            <li><a href="http://phpclub.ru/talk" target="_blank">Форум PHP Club</a></li>
                        </ul>
                        {#<a href="https://www.reg.ru/domain/new/?rid=293253"><img src="https://www.reg.ru/i/affiliate/domain_200x200.jpg" width="200" height="200" border="0" alt="Домены"></a>#}
                    </noindex>

                </div>
            </div>
        </div>
    </div>

    {# FOOTER #}

    <div class="navbar navbar-fixed-bottom navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li>
                        <span class="navbar-brand"><small>&copy; Nikolay Ermin aka KelTanas {{ "now"|date('Y') }}</small></span>
                    </li>
                </ul>
                {#<ul class="nav navbar-nav navbar-right">#}
                    {#<li>#}
                        {#<a href="https://github.com/keltanas/symf-blog" target="_blank">#}
                            {#<i class="github-icon"></i>On Github</a>#}
                    {#</li>#}
                {#</ul>#}
            </div>
        </div>
    </div>

    <script type="text/javascript">{% spaceless %}(function() {
            if (window.pluso)if (typeof window.pluso.start == "function") return;
            if (window.ifpluso==undefined) { window.ifpluso = 1;
                var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                var h=d[g]('body')[0];
                h.appendChild(s);
            }})();{% endspaceless %}</script>
    <a href="https://github.com/keltanas" target="_blank">
        <img style="position: absolute; top: 0; left: 0; border: 0; z-index: 1200;" src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png">
    </a>

    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% if google_analytics %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ google_analytics }}']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</body>
</html>
