{% extends '::base.html.twig' %}

{% block title %}{{ "Post creation"|trans }}{% endblock %}

{% block body -%}
    <h1>{{ block('title') }}</h1>

    <form action="{{ path('post_create') }}" method="post"
          novalidate="novalidate" {{ form_enctype(form) }}>

        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-small btn-success">{{ "Create"|trans }}</button>
            <a href="{{ path('keltanas_page_homepage') }}" class="btn btn-small">
                {{ "Back to homepage"|trans }}
            </a>
        </p>

    </form>
{% endblock %}
