{% extends '::base.html.twig' %}

{% block title -%}
    {% if entity.status or is_granted('ROLE_USER') %}
    {{ entity.title }}{% else %}
    {{ "Draft"|trans }}{% endif %}
{% endblock %}

{% block body -%}

    {% if 0 == entity.status %}
        <div class="alert alert-danger">
            {{ "This is draft"|trans }}
        </div>
    {% endif %}

    {% if is_granted('ROLE_USER') or entity.status %}
        {{ entity.contentHtml|raw }}
        <hr>
        {% if entity.tags %}
        <div class="pull-left">
            <i class="icon icon-tags"></i> <small>{{ entity.tags }}</small><br>
            <a href="{{ path('keltanas_page_homepage') }}">{{ "Back to homepage"|trans }}</a>
        </div>
        {% endif %}
        <div class="text-right">
            <small>{{ "Created at"|trans }}: {{ entity.createdAt|date("d.m.Y H:i") }}</small><br>
            <small>{{ "Author"|trans }}: {{ entity.account.username }}</small>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('post_edit', { 'id': entity.id }) }}" class="btn btn-small btn-primary">
            {{ "Edit"|trans }}
        </a>
        <a href="{{ path('post_delete', { 'id': entity.id }) }}" class="btn btn-small btn-danger">
            {{ "Delete"|trans }}
        </a>
        {% endif %}


        {% if disqus_shortname %}
        <hr>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = '{{ disqus_shortname }}'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}
    {% endif %}
{% endblock %}
