{% extends '::base.html.twig' %}

{% block title %}{{ "Deleting"|trans }}{% endblock %}

{% block body -%}
    <h1>{{ block('title') }}</h1>

    <p>{{ "Really want to delete?"|trans }}</p>
    <form action="{{ path('post_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-danger btn-sm">{{ "Delete"|trans }}</button>
        <a href="{{ path('keltanas_page_homepage') }}" class="btn btn-default btn-sm">
            {{ "Back to homepage"|trans }}
        </a>
    </form>
{% endblock %}
