{% extends "::base.html.twig" %}

{% block title %}{{ "Tag"|trans }}: {{ name }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% for entity in entities %}
    <h2><a href="{{ path('post_show', {id: entity.id}) }}">{{ entity.title }}</a></h2>
    {{ entity.contentCutedHtml|raw }}
    {% if entity.tags %}
    <div class="pull-left"><i class="icon icon-tags"></i> <small>
        {% for tag in entity.tagsArray %}
            <a href="{{ path('keltanas_page_tag', {"name": tag}) }}">{{ tag }}</a>
        {% endfor %}
        </small></div>
    {% endif %}
    <div class="text-right"><small>{{ "Created at"|trans }}: {{ entity.createdAt|date("d.m.Y H:i") }}</small></div>
    <hr>
    {% endfor %}

    {{ knp_pagination_render(entities)|raw }}
{% endblock %}
